<div class="container">
    <h2>{{tagline}}</h2>
    <div class="row">
        <div class="col-sm-2" ng-repeat="app in apps">
            <div class="thumbnail">
                <a href={{app.url}}><img ng-src={{app.image_small}}></a>
                <div class="caption">
                    <h5 ng-init="limit = 40">
                        {{app.name | limitTo: limit}}
                    </h5>
                    <h6><a href={{app.developer_url}}>{{app.developer}}</a></h6>
                    <p ng-init="limit = 40; moreShown = false">
                        {{app.description | limitTo: limit}}
                        <a ng-show="app.description.length > limit"
                           href ng-click="limit=app.description.length; moreShown = true">  ...
                        </a>
                    </p>
                    <input-stars max="5" ng-model="prop1" value={{(app.rating/20).toFixed(1)}} readonly="true" ></input-stars>
                    <p>Rating: {{(app.rating/20).toFixed(1)}}</p>
                    <p>Labels: {{app.label}} </p>
                    <p>Price: {{app.price}} {{app.currency}}</p>
                </div>
            </div>
        </div>
    </div>
</div>