<div class="container">
    <h2>{{tagline}}</h2>
    <div class="row">
        <div class="col-sm-3" ng-repeat="app in apps">
            <div class="thumbnail">
                <a href={{app.url}}><img ng-src={{app.image_small}}></a>
                <h4>{{app.name}}</h4>
                <h5><a href={{developer_url}}>{{app.developer}}</a></h5>
                <p>{{app.description}}</p>
                <p><input class="rating" data-min="0" data-max="5" data-step="1">{{app.rating}}</p>
                <p>{{app.price}} {{app.currency}}</p>
            </div>
        </div>
    </div>
</div>
