<div class="container">
    <h2>{{tagline}}</h2>
    <div class="row">
        <div class="col-sm-3" ng-repeat="app in apps">
            <div class="thumbnail">
                <a href={{app.url}}><img ng-src={{app.image_large}} style="zoom:1.5;"></a>
                <div class="caption">
                    <a href={{app.url}}><h5 ng-init="limit = 40">
                        {{app.name | limitTo: limit}}
                    </h5></a>
                    <h6><a href={{app.developer_url}}>{{app.developer}}</a></h6>
                    <p ng-init="limit = 40; moreShown = false">
                        {{app.description | limitTo: limit}}
                        <a ng-show="app.description.length > limit"
                           href ng-click="limit=app.description.length; moreShown = true">  ...
                        </a>
                    </p>
                    <input-stars max="5" ng-model="prop1" value={{(app.rating).toFixed(1)}} readonly="true" ></input-stars>
                    <p ng-show="app.rating">Rating: {{app.rating.toFixed(1)}}</p>

                    <p ng-show="app.content_rating">Content Rating: {{app.content_rating}}</p>

                    <p>Labels: {{app.label}} </p>
                    <p>Price: {{app.price.toFixed(1)}} {{app.currency}}</p>
                </div>
            </div>
        </div>
    </div>
</div>